
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 30%;
    border: 1px solid black;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
}

    .container > * {
        margin-bottom: 10px;
    }

.fa-solid {
    padding: 15px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    font-size: 24px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

#LoginForm > * {
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-bottom: 15px;
}

p {
    color: red;
    display: block;
    margin-left: 33%;
    font-size: 12px;
}

button {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: rgb(141, 144, 144,0.8);
    color: white;
    border: 0.5px solid black;
    width: 130px;
    height: 30px;
    margin-top: 15px;
}

#form-btnLogin {
    margin-top: 20px;
}

input {
    border-radius: 5px;
    border: 1px solid rgb(13, 13, 13, 0.7);
    height: 25px;
    width: 165px;
}

@media (max-width: 480px) {
    .container {
        width: 75%;
        border: 1px solid black;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 10px;
    }

    .title {
        font-size: 20px;
    }

    label {
        font-size: 12px;
        width: 135px;
    }

    input {
        border-radius: 5px;
        border: 1px solid rgb(13, 13, 13, 0.7);
        height: 20px;
        width: 95%;
    }

    p {
        margin-left: 29%;
    }
}

@media (min-width:481px ) and (max-width:768px) {
    .container {
        width: 82%;
        border: 1px solid black;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 20px;
    }

    .title {
        font-size: 20px;
    }

    label {
        font-size: 12px;
        width: 135px;
    }

    input {
        border-radius: 5px;
        border: 1px solid rgb(13, 13, 13, 0.7);
        height: 20px;
        width: 80%;
    }

    p {
        margin-left: 23%;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .container {
        width: 70%;
        border: 1px solid black;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 20px;
    }

    .title {
        font-size: 20px;
    }

    label {
        font-size: 12px;
        width: 135px;
    }

    input {
        border-radius: 5px;
        border: 1px solid rgb(13, 13, 13, 0.7);
        height: 20px;
        width: 65%;
    }

    p {
        margin-left: 26%;
    }
}
